go 1.25.0

use (
	./repo/MyFlowHub-Core
	./repo/MyFlowHub-MetricsNode
	./repo/MyFlowHub-MetricsNode/windows
	./repo/MyFlowHub-Proto
	./repo/MyFlowHub-SDK
	./repo/MyFlowHub-Server
	./repo/MyFlowHub-SubProto/broker
	./repo/MyFlowHub-SubProto/exec
	./repo/MyFlowHub-SubProto/flow
	./repo/MyFlowHub-SubProto/topicbus
	./repo/MyFlowHub-SubProto/varstore
	./repo/MyFlowHub-Win
)
